{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<form method="post">

    <div class="error">
        <p>{{ error ? error.message : "" }}</p>
    </div>

    <h1>Sign in : </h1>
    <label for="inputEmail">Email : </label>
    <input type="email" value="{{ last_username }}" placeholder="dupont.jeanne@exemple.fr" name="email" id="inputEmail" autocomplete="email" required autofocus>
    <label for="inputPassword">Password :</label>
    <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" name="password" id="inputPassword" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button type="submit">
        Sign in
    </button>
    <p>Not registered ?<a href="{{path('app_register')}}">Register</a></p>
</form>
{% endblock %}
