main {
    margin-top:20svh;
}

main figure {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

main figure:first-of-type img {
    height: 1.5rem;
}

main figure:nth-of-type(2) {
    width: 85%;
    justify-content: start;
    margin: auto auto 3rem auto;
}

main figure:nth-of-type(2) img {
    width: 45%;
    margin: auto;
}

#tuto ~ img:first-of-type {
    display: none;
    width: min(500px, 95%);
    margin:auto;
}

#tuto {
    display: flex;
    width: 95%;
    gap: 2rem;
    margin: auto auto 10% auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#tuto > img {
    object-fit: scale-down;
    transform: scale(.9);
}

@media screen and (max-width: 991px) {
    #tuto,
    figure:nth-of-type(2) {
        display: none;
    }

    #tuto ~ img:first-of-type {
        display: block;
    }
}