figure {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

figure:nth-of-type(2) {
    opacity: 40%;
    width: 85%;
    justify-content: start;
    margin: auto auto 3rem auto;
}

figure:nth-of-type(2) img {
    width: 45%;
}

#tuto {
    display: flex;
    width: 85%;
    max-height: 700px;
    margin: auto auto 10% auto;
    opacity: .4;
    flex-direction: column;
    gap: 4rem 0;
    flex-wrap: wrap;
}

#tuto > img {
    object-fit: scale-down;
    object-position: left;
}

#tuto > :last-child {
    width:400px;
}