* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Upheaval TT (BRK)", Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../img/misc/background.png");
    background-repeat: no-repeat;
    min-height: 125vh;
}

nav {
    width: 75%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

nav a {
    text-shadow: 4px 3px 1.5px rgba(0, 0, 0, 0.26);
}

/* prevent elements with this class to be selected by user (with cursor) */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#desktop {
    display: flex;
    list-style: none;
    color: unset;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#desktop a {
    transition: .3s;
    text-decoration: none;
    color: unset;
    text-decoration: none;
    color: unset;
    width: 40%;
    text-align: center;
}

#desktop a:hover {
    text-shadow: none;
}

#nav-left + a {
    font-size: 2rem;
}

nav > img {
    position: absolute;
    width: 125%;
    z-index: -1;
}

#nav-left,
#nav-right {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}


#nav-left li,
#nav-right li {
    font-size: 1.4rem;
}
