* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
input,
button {
    font-family: "Upheaval TT (BRK)", Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/misc/background.webp");
    background-repeat: no-repeat;
    min-height: 125vh;
}

nav {
    width: 75%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

/* flash messages */
#flash-messages {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    z-index: -2;
    top:10%;
}

.flash {
    padding: 0.75rem 0;
    border-radius: 2.5px;
    justify-content: center;
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 7px 10px 2px -2px rgba(0,0,0,0.1);
}

.flash-success {
    background-color: #8e9c93;
    color: #2b4032;
}

.flash-warning {
    background-color: #d7cfb5;
    color: #725f28;
}

.flash-error {
    background-color: #d3878a;
    color: #721c24;
}


.text-shadow {
    text-shadow: 4px 3px 1.5px rgba(0, 0, 0, 0.26);
}

.text-shadow a,
.text-shadow {
    transition: .3s;
}

.text-shadow a:hover,
.text-shadow:hover {
    text-shadow: none;
}

/* prevent elements with this class to be selected by user (with cursor) */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

nav #desktop {
    display: flex;
    list-style: none;
    color: unset;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav #desktop a {
    text-decoration: none;
    color: unset;
    text-decoration: none;
    color: unset;
    width: 40%;
    text-align: center;
}

/* underline hover animation */
.underline-hover {
	position: relative;
    transition:1s;
}

.underline-hover::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1.5px;
	bottom: 0;
	left: 0;
    z-index:-1;
	background-color: currentColor;
	transition: transform 0.3s;
    transform-origin: right;
}

.underline-hover:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

/* nav-left = browse & create */
/* nav-right = profile & log off OR log in & register */
#nav-left + a {
    font-size: 2rem;
}

nav > img {
    position: absolute;
    width: 112.5%;
    z-index: -1;
}

#nav-left,
#nav-right {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}


#nav-left li,
#nav-right li {
    font-size: 1.4rem;
}

/* hide arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* hidden elements */
.hidden {
    display: none !important;
}
