* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Upheaval TT (BRK)", Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../img/misc/background.png");
    background-repeat: no-repeat;
    min-height: 125vh;
}

nav {
    width: 75%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.text-shadow {
    text-shadow: 4px 3px 1.5px rgba(0, 0, 0, 0.26);
}

/* prevent elements with this class to be selected by user (with cursor) */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#desktop {
    display: flex;
    list-style: none;
    color: unset;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#desktop a {
    text-decoration: none;
    color: unset;
    text-decoration: none;
    color: unset;
    width: 40%;
    text-align: center;
}

.text-shadow a,
.text-shadow {
    transition: .3s;
}

.text-shadow a:hover,
.text-shadow:hover {
    text-shadow: none;
}

/* underline hover animation */
.underline-hover {
	position: relative;
}

.underline-hover::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1.5px;
	bottom: 0;
	left: 0;
    z-index:-1;
	background-color: currentColor;
	transition: transform 0.3s;
    transform-origin: bottom right;
}

.underline-hover:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}


#nav-left + a {
    font-size: 2rem;
}

nav > img {
    position: absolute;
    width: 112.5%;
    z-index: -1;
}

#nav-left,
#nav-right {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}


#nav-left li,
#nav-right li {
    font-size: 1.4rem;
}
