h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    width: max-content;
}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-left: 1rem;
}

#challs-container {
    display: flex;
    gap: 2rem;
    margin: 2rem 1rem;
}

.challenge {
    background-color: #bca7a4;
    width: 500px;
    list-style: none;
    padding: 1rem;
    box-shadow: 5px 5px 0px #00000024;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1.25rem;
}

.challenge:not(:last-of-type) {
    margin-bottom: 1rem;
}

h2 ~ ul {
    list-style: none;
    line-height: 1.5rem;
    padding: 1rem;
}

h2 ~ ul li {
    font-size: 1.25rem;
}

.challenge li:first-of-type {
    color: #64090a;
    font-size: 2rem;
    line-height: 2.5rem;
}

.challenge li:first-of-type span {
    font-size: 1.2rem;
    color: black;
}