#form {
    position: relative;
    width: 66%;
    margin: auto;
    z-index: 2;
    max-height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#step1 {
    display: flex;
    position: relative;
    height: 650px;
    flex-direction: row;
    width: 100%;
    padding: 2rem 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

#form > img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#close-btn,
#next-btn,
#options,
#previous-btn {
    cursor: pointer;
    z-index:2;
}

#close-btn,
#previous-btn {
    text-decoration: none;
    color: unset;
    font-size: 2.5rem;
}

#next-btn {
    font-size: 3rem;
}

#close-btn {
    position: absolute;
    top: 1%;
    right: 3%;
}

#characters {
    width: 66.66%;
    max-height: 100%;
}

#next-btn {
    position: absolute;
    bottom: 7.5%;
    right: 5%;
}
/* btns = 'ALL/NONE/ALL TAINTED/ALL NON TAINTED etc.' presets for checkboxes */
.btns {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 0.7rem;
}

.btns a {
    color: unset;
    text-decoration: none;
    font-size: 1.3rem;
    height: min-content;
    cursor: pointer;
}

#characters .list {
    max-height: 83%;
}

#characters .list,
#bosses .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#characters .list {
    gap: 0.2rem;
}

.checked {
    color: #822424;
    filter: unset;
}

.list label {
    font-size: 1.1em;
}

.check-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

label img {
    height: 90%;
    filter: saturate(0);
}

.list img,
.list label {
    cursor: pointer;
}

.list input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.hidden {
    display: none !important;
}
