#challenges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 3.5rem auto;
    gap: 4rem 2rem;
}

.challenge {
    position: relative;
    height: 325px;
    display: flex;
    width: 20%;
    justify-content: center;
}

/* bg image (note blood) */
.challenge > img:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110%;
    width: 100%;
}

/* div containing all infos */
.challenge > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 1rem;
    height: 100%;
    justify-content: center;
}

/* challenge id */
.challenge > div:first-of-type > p:first-of-type {
    position: absolute;
    top: 2.5%;
    left: 5%;
}

/* creator and creation date */
.challenge > div:first-of-type > p:nth-of-type(2) {
    position: absolute;
    top: 2.5%;
    right: 7.5%;
    text-align: end;
}

.character,
.boss,
.restriction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

.character > img {
    width: 75px;
    image-rendering: pixelated;
}

.boss > img {
    width:45px;
}

.character figcaption img {
    height: 22px;
    max-width: 90%;
}

.character figcaption {
    text-align: center;
}

.boss figcaption img {
    height: 16px;
}

.restriction figcaption img {
    height: 14px;
}

.boss,
.restriction {
    flex-direction: row;
}

.streak {
    position: absolute;
    top: 15%;
    right: 15%;
}

.streak img,
.streak figcaption {
    position: absolute;
    transform: translate(-50%, -50%);
}

.streak img {
    width: 40px;
    filter: saturate(2);
}

@media screen and (max-width: 1300px) {

    .challenge {
        width: 30%;
    }

    #challenges {
        gap: 3rem 1rem;
    }

}

