#page {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* text img to remind user to note his completion time before ending the run */
#protip {
    position: absolute;
    top: 5rem;
    left: 3rem;
    rotate: -4deg;
    width: 250px;
    opacity: .5;
}

/* set fixed width/height top bg img, step1 and step2 */
#page > img:first-of-type,
#step1,
#step2 {
    width: 500px;
    height: 500px;
}

/* bg image (page with blood) */
#page > img:first-of-type {
    position: absolute;
    z-index: -1;
}

/* step 1 (hide result and show challenge characters, bosses, restrictions */

#step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* step 2 */


/* div before #play-result div and bg img */
#step2 {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 3rem 0;
    justify-content: space-around;
    position: relative;
}

/* reset btn */
#step2 > img:first-of-type {
    position: absolute;
    right: 7.5%;
    top: 7.5%;
}

.play-btn,
.back-btn {
    cursor: pointer;
}

/* back */
#completion-time .back-btn {
    font-size: 1.5rem;
}

.back-btn:not(#completion-time .back-btn) {
    font-size: 2rem;
    position: absolute;
    top: 5%;
    left: 0;
}

#result {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1rem;
}

.character,
.boss,
.restrictions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#btns,
#completion-time {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#completion-time {
    justify-content: center;
    gap:1rem;
    align-items: center;;
}

#btns img {
    height:35px;
    cursor:pointer;
}

#win-counter img,
#win-counter p {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 10%;
    left: 2.5%;
}

#win-counter img {
    width: 15%;
    filter: saturate(2);
}

#win-counter p {
    font-size: 1.5rem;
}


/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* CHARACTER RESULT ----------------------------------------------------------------------- */

/* div containing boss img + text img */
.character {
    flex-direction: column;
}

/* text img */
.character img:first-of-type {
    height: 100px;
}

/* character img */
.character img:last-of-type {
    height:30px;
}

/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* BOSS RESULT ---------------------------------------------------------------------------- */

/* div containing boss img + text img */
/* .boss {

} */

/* text img */
.boss img:first-of-type {
    height: 25px;
}

/* boss img */
.boss img:last-of-type {
    height:50px;
}

/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* RESTRICTIONS RESULT -------------------------------------------------------------------- */

/* when imgs are upscaled by client navigator, pixelise instead of blur effect */
.pixelated {
    image-rendering: pixelated;
}
