#page {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#launchgame {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #d2d6ee;
    width: max-content;
    padding: 5px 1.5rem;
}

#launchgame img {
    width: 40px;
}

#text-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#text-result span {
    color: var(--red);
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

#text-result ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

#text-result li {
    list-style: none;
    color: var(--red);
}

/* text img to remind user to note his completion time before ending the run */
#protip {
    position: absolute;
    top: 5rem;
    left: 3rem;
    rotate: -4deg;
    width: 250px;
    opacity: .5;
}

/* set fixed width/height top bg img, step1 and step2 */
#page > img:first-of-type,
#step1,
#step2 {
    width: 500px;
    height: 500px;
}

/* bg image (page with blood) */
#page > img:first-of-type {
    position: absolute;
    z-index: -1;
}

/* step 1 (hide result and show challenge characters, bosses, restrictions */

#step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

/* step 2 */


/* div before #play-result div and bg img */
#step2 {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 3rem 0;
    justify-content: space-around;
    position: relative;
}

/* reset btn */
#step2 > img:first-of-type {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.play-btn,
.back-btn,
#randomize-btn {
    cursor: pointer;
}

/* back */
#completion-time .back-btn {
    font-size: 1.5rem;
}

.back-btn:not(#completion-time .back-btn) {
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#result {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1rem;
}

#result ~ img:first-of-type {
    width: 350px;
    rotate: 2deg;
    opacity: .7;
    margin: 2rem;

}

.character,
.boss,
.restrictions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#btns,
#completion-time {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#completion-time {
    justify-content: center;
    gap:1rem;
    align-items: center;;
}

#btns img {
    height:35px;
    cursor:pointer;
}

#win-counter img,
#win-counter p {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 10%;
    left: 2.5%;
}

#win-counter img {
    width: 15%;
    filter: saturate(2);
}

#win-counter p {
    font-size: 1.5rem;
}


/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* CHARACTER RESULT ----------------------------------------------------------------------- */

/* div containing boss img + text img */
.character {
    flex-direction: column;
}

/* text img */
.character img:first-of-type:not(figure img) {
    height: 100px;
}

/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* BOSS RESULT ---------------------------------------------------------------------------- */

/* div containing boss img + text img */
/* .boss {

} */

/* text img */
.boss img:first-of-type {
    height: 25px;
}

.boss img:last-of-type {
    height: 80px;
}

/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* RESTRICTIONS RESULT -------------------------------------------------------------------- */

/* when imgs are upscaled by client navigator, pixelise instead of blur effect */
.pixelated {
    image-rendering: pixelated;
}
