#page {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* bg image (page with blood) */
#page > img:first-of-type {
    min-width: 33%;
    height: 70%;
    position: absolute;
    z-index: -1;
}

/* div before #play-result div and bg img */
#page > img ~ div {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 5% 0;
    height: 70%;
    min-width: 33%;
    justify-content: space-around;
    position: relative;
}

/* reset btn */
#page > img ~ div > img:first-of-type {
    position: absolute;
    right: 7.5%;
    top: 7.5%;
}

/* infos when hover on character/boss/restriction */
.hover-infos {
    display:none;
    position:absolute;
    transition: .2s;
    transition-delay: .3s;
    background-color: #e9dbe0;
    padding: .5rem 1rem;
    z-index: 2;
}

/* ---------------------------------------------------------------------------------------------- */
/*                                                                                                
/* Result --------------------------------------------------------------------------------------- */

#play-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#character,
#boss,
#restrictions-result {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#btns img {
    height:40px;
    cursor:pointer;
}

#win-counter img,
#win-counter p {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 10%;
    left: 2.5%;
}

#win-counter img {
    width: 15%;
    filter: saturate(2);
}

#win-counter p {
    font-size: 1.5rem;
}


/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* CHARACTER RESULT ----------------------------------------------------------------------- */

/* div containing boss img + text img */
#character {
    flex-direction: column;
    max-width: 100px;
}

/* text img */
#character img:first-of-type {
    height: 100px;
}

/* character img */
#character img:last-of-type {
    height:30px;
}

/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/*                                                                                          */
/*                                                                                          */
/* BOSS RESULT ---------------------------------------------------------------------------- */

/* div containing boss img + text img */
/* #boss {

} */

/* text img */
#boss img:first-of-type {
    height: 25px;
}

/* boss img */
#boss img:last-of-type {
    height:50px;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

/* when imgs are upscaled by client navigator, pixelise instead of blur effect */
.pixelated {
    image-rendering: pixelated;
}
