#page {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: min(27.5rem, 90vw);
    height: min(27.5rem, 90vw);
    margin:auto;
    padding: 10%;
}

#launchgame {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #d2d6ee;
    width: min(15rem, 90%);
    padding: 5px 1.5rem;
    margin: 1rem auto;
    box-shadow: 4px 3px 1.5px rgba(0, 0, 0, 0.26);
    transition: box-shadow .3s;
}

#launchgame:hover {
    box-shadow:unset;
}

#launchgame img {
    width: 40px;
}

#text-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--beige);
    padding: 1rem;
    width: min(20rem, 90%);
    margin: 1rem auto;
    box-shadow: 4px 3px 1.5px rgba(0, 0, 0, 0.26);
}

#text-result span {
    color: var(--red);
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

#text-result ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

#text-result li {
    list-style: none;
    color: var(--red);
}

/* text img to remind user to note his completion time before ending the run */
#protip {
    width: min(30rem, 90%);
    opacity: .5;
    margin: 2rem auto;
    display: block;
}

/* set fixed width/height top bg img, step1 and step2 */
#step1,
#step2 {
    width: 100%;
    height: 100%;
}

/* bg image (page with blood) */
#page > img:first-of-type {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

#step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    justify-content: center;
}

/* step 2 */


/* div before #play-result div and bg img */
#step2 {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 3rem 0;
    justify-content: space-around;
    gap:10%;
}

/* reset btn */
#step2 > img:first-of-type {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.play-btn,
.back-btn,
#randomize-btn {
    cursor: pointer;
}

#randomize-btn {
    height:2rem;
}

/* back */
#completion-time .back-btn {
    font-size: 2.5rem;
}

.back-btn:not(#completion-time .back-btn) {
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#result {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1rem;
}

#result ~ img:first-of-type {
    width: 350px;
    rotate: 2deg;
    opacity: .7;
    margin: 2rem;

}

.character,
.boss,
.restrictions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#btns,
#completion-time {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#btns {
    gap:1rem;
}

#completion-time {
    gap: 1rem;
    width: 135%;
}

#completion-time form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

#completion-time form div:not(:last-of-type) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:none;
}

#completion-time form div:nth-of-type(2) input {
    padding: .5rem;
    outline: none;
}

#completion-time form button {
    color: var(--eggshell);
    background-color: var(--brown);
    border: none;
    padding: .5rem;
}

#btns img {
    height: min(7vw, 2rem);
    cursor:pointer;
}

#win-counter img,
#win-counter p {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 10%;
    left: 2.5%;
}

#win-counter img {
    width: 15%;
    filter: saturate(2);
}

#win-counter p {
    font-size: 1.5rem;
}


/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* CHARACTER RESULT ----------------------------------------------------------------------- */

/* div containing boss img + text img */
.character {
    flex-direction: column;
}

/* text img */
.character img:first-of-type:not(figure img) {
    height: min(18vw, 5rem);
}

.character img:last-of-type {
    height: 1.5rem;
}

/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* BOSS RESULT ---------------------------------------------------------------------------- */

/* div containing boss img + text img */
/* .boss {

} */

/* text img */
.boss img:first-of-type {
    height: 1.25rem;
}

.boss img:last-of-type {
    height: min(9vw, 3rem);
}

/* ---------------------------------------------------------------------------------------- */
/*                                                                                          */
/* RESTRICTIONS RESULT -------------------------------------------------------------------- */

/* when imgs are upscaled by client navigator, pixelise instead of blur effect */
.pixelated {
    image-rendering: pixelated;
}

@media screen and (max-width: 991px) {
    #launchgame {
        display: none;
    }
}