/* ---------------------------------------------------------------------------------------------- */
/* Infos ---------------------------------------------------------------------------------------- */

/* div with 3 divs : characters + bosses + restrictions */
#infos {
    /* display: none; */
    flex-wrap: wrap;
    flex-direction: row;
    width:36.66%;
}

/* 3 divs : characters + bosses + restrictions */
#characters,
#bosses,
#restrictions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* position:relative; */
}

/* #infos > #characters > div(img + text) */
#characters div,
#bosses div,
#restrictions div {
    display: flex;
    position: relative;
}

#characters div:hover .hover-infos,
#bosses div:hover .hover-infos,
#restrictions div:hover .hover-infos {
    opacity:66%;
}