h1 {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin: 3rem auto 2rem auto;
}

h2 {
    text-align: center;
}

.versus-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    justify-content: center;
}

.versus {
    background-color: #bdaca7;
    width: 400px;
    padding: 1rem;
    box-shadow: 5px 5px 0px #00000024;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.versus:not(:last-of-type) {
    margin-bottom: 1rem;
}

.versus ul {
    list-style: none;
    line-height: 1.25rem;
}

.versus ul li:first-of-type {
    color: #64090a;
    font-size: 2rem;
    line-height: 2.5rem;
}

.versus ul .slots {
    font-size: 1.5rem;
}

.versus img {
    width: 70px;
    object-fit: scale-down;
    opacity: 50%;
}

.versus ul span:not(.date) {
    font-size: 1rem;
    opacity: .5;
}