p {
    font-size: 1.25rem;
}

h1 {
    font-size: 3rem;
}

h1,
h2 {
    text-align: center;
    color: var(--brown);
}

h2,
h2 a {
    font-size: 2rem;
    text-decoration: none;
}

h2 a {
    color: #66080a;
}

h3 {
    font-size: 1.5rem;
}

h3 i {
    font-size: 2rem;
}

.like {
    image-rendering: pixelated;
    height: 2rem;
    display: flex;
    margin: auto;
}

#challenge {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0 1rem 1rem;
    justify-content: flex-start;
    width: 25%;
}

.container {
    position: relative;
}

#characters,
#bosses,
#restrictions {
    gap: 0.2rem 1rem;
    margin: .75rem auto;
    width: max-content;
}

#characters {
    max-height: 600px;
    flex-wrap: wrap;
    width: 550px;
}

#restrictions > p:first-of-type {
    opacity: 50%;
    margin: .75rem 0;
}

.character,
.boss,
.restriction {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.character img,
.restriction img {
    width: 30px;
    object-fit: scale-down;
    height: 30px;
}

.boss img {
    width: 25px;
    height: 25px;
}

.length-span {
    color: #372b2d;
    font-size: 3.5rem;
}

.onclick-infos-element {
    height: 30px;
}

#btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
    background-color: #8b003514;
    width: fit-content;
    padding: 1rem;
    box-shadow: 1px 1px 12px black;
    flex-direction: column;
    align-items: center;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#leaderboard ul {
    list-style: none;
    background-color: #e1e1e1;
}

#leaderboard ul li {
    padding: 1rem 2rem;
}

#leaderboard ul li span {
    font-size: 2rem;
    margin-right: 1rem;
}

#leaderboard ul li:first-of-type {
    background-color: #e3da9c;
}

#leaderboard ul li:nth-of-type(2) {
    background-color: #d3d3d3;;
}

#leaderboard ul li:nth-of-type(3) {
    background-color: #cba164;
}