main {
    margin-left: 2rem;
}

p {
    font-size: 1.25rem;
}

#stats ul {
    list-style: none;
}

#stats ul > :not(:last-of-type) {
    margin-bottom: 1rem;
}

#stats ul li span {
    font-size: 2rem;
    margin-right: 1rem;
}

.like {
    width: 45px;
    image-rendering: pixelated;
}

#challenge {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0 1rem 1rem;
    justify-content: flex-start;
    width: 25%;
}

.container {
    position: relative;
}

#characters,
#bosses,
#restrictions {
    gap: 0.2rem 1rem;
    margin: .75rem auto;
    width: 125%;
}

#characters {
    max-height: 600px;
    flex-wrap: wrap;
    width: 155%;
}

#restrictions > p:first-of-type {
    opacity: 50%;
    margin: .75rem 0;
}

.character,
.boss,
.restriction {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.character img,
.restriction img {
    width: 30px;
    object-fit: scale-down;
    height: 30px;
}

.boss img {
    width: 25px;
    height: 25px;
}

.length-span {
    color: #372b2d;
    font-size: 3.5rem;
}

.onclick-infos-element {
    height: 30px;
}


/* ---------------------------------------------------------------------------------------------- */
/* Infos ----------------------------------------------------------------------------------------

/* div with 3 divs : characters + bosses + restrictions
#infos {
    /* display: none;
    flex-wrap: wrap;
    flex-direction: row;
    width:36.66%;
}

/* 3 divs : characters + bosses + restrictions
#characters,
#bosses,
#restrictions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* position:relative;
}

/* #infos > #characters > div(img + text)
#characters div,
#bosses div,
#restrictions div {
    display: flex;
    position: relative;
}

#characters div:hover .onclick-infos,
#bosses div:hover .onclick-infos,
#restrictions div:hover .onclick-infos {
    opacity:66%;
}