h1 {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin: 3rem auto 2rem auto;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h2 a {
    display: block;
    font-size: 1.5rem;
    color: var(--red);
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
}

h2 ~ img:first-of-type {
    height: 5rem;
    image-rendering: pixelated;
    display: block;
    margin: 1rem auto;
}

.new-versus {
    display: flex;
    margin: 1rem auto;
    gap: .5rem;
    text-decoration: none;
    color: var(--red);
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
}

#versus-container,
.versus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 1.5rem auto;
    gap: 2rem;
}

.versus {
    background-color: #bdaca7;
    width: 400px;
    padding: 1rem;
    box-shadow: 5px 5px 0px #00000024;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #a49895;
    transition: box-shadow .3s;
}

.versus:hover {
    box-shadow:unset;
}

.versus ul {
    list-style: none;
    line-height: 1.25rem;
}

.versus ul li:first-of-type {
    color: #64090a;
    font-size: 2rem;
    line-height: 2.5rem;
}

.versus ul .slots {
    font-size: 1.5rem;
}

.versus img {
    width: 70px;
    object-fit: scale-down;
    opacity: 50%;
}

.versus ul span:not(.date) {
    font-size: 1rem;
    opacity: .5;
}