{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block metaDescription %}Feel free to contact us if you have any request !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/contact.css')}}">
{% endblock stylesheets %}

{% block body %}
    <h1>If you have any question, feel free to contact us : Charly.ducournau@outlook.fr</h1>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
