{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block metaDescription %}Privacy Policy of TBOI-Challenge.com, feel free to contact us if you have any request !{%
endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/terms.css')}}">
{% endblock stylesheets %}

{% block body %}

<h2>7. Gestion des données personnelles.</h2>

<p>Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la
    confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général
    sur la Protection des Données (RGPD : n° 2016-679). </p>

<h3>7.1 Responsables de la collecte des données personnelles</h3>

<p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa
    navigation sur le Site, le responsable du traitement des Données Personnelles est : CHARLY INC.. <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a>est représenté par DUCOURNAU-GUICHARD Charly,
    son représentant légal</p>

<p>En tant que responsable du traitement des données qu’il collecte, <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> s’engage à respecter le cadre des dispositions
    légales en vigueur. Il lui appartient notamment au Client d’établir les finalités de ses traitements de données, de
    fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le
    traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité.
    Chaque fois que <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> traite des Données Personnelles,
    <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> prend toutes les mesures raisonnables pour
    s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> les traite.</p>

<h3>7.2 Finalité des données collectées</h3>

<p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> est susceptible de traiter tout ou partie des
    données : </p>

<ul>

    <li>pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés
        par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc.
    </li>

    <li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour
        la navigation, l’adresse IP, le mot de passe (hashé) </li>

    <li>pour améliorer la navigation sur le Site : données de connexion et d’utilisation </li>

    <li>pour mener des enquêtes de satisfaction facultatives sur <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> : adresse email </li>
    <li>pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email</li>


</ul>

<p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> ne commercialise pas vos données personnelles qui
    sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.</p>

<h3>7.3 Droit d’accès, de rectification et d’opposition</h3>

<p>
    Conformément à la réglementation européenne en vigueur, les Utilisateurs de <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> disposent des droits suivants : </p>
<ul>

    <li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données
        des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel
        (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte,
        l'utilisation, la communication ou la conservation est interdite </li>

    <li>droit de retirer à tout moment un consentement (article 13-2c RGPD) </li>

    <li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD) </li>

    <li>droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD) </li>

    <li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de
        traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD) </li>

    <li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> devra communiquer (ou non) ses données à un
        tiers qu’ils aura préalablement désigné</li>
</ul>

<p>Dès que <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> a connaissance du décès d’un Utilisateur
    et à défaut d’instructions de sa part, <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> s’engage
    à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre à une
    obligation légale.</p>

<p>Si l’Utilisateur souhaite savoir comment <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> utilise
    ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> par écrit à l’adresse suivante : </p>

CHARLY INC. – DPO, DUCOURNAU-GUICHARD Charly <br>
220 ROUTE DE MITTELHAUSBERGEN 67200 STRASBOURG.

<p>Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> corrige, mette à jour ou supprime, en
    s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport). </p>

<p>
    Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> par la loi, notamment en matière de
    conservation ou d’archivage des documents. Enfin, les Utilisateurs de <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> peuvent déposer une réclamation auprès des
    autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/plaintes).</p>

<h3>7.4 Non-communication des données personnelles</h3>

<p>
    <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> s’interdit de traiter, héberger ou transférer
    les Informations collectées sur ses Clients vers un pays situé en dehors de l’Union européenne ou reconnu comme «
    non adéquat » par la Commission européenne sans en informer préalablement le client. Pour autant, <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> reste libre du choix de ses sous-traitants
    techniques et commerciaux à la condition qu’il présentent les garanties suffisantes au regard des exigences du
    Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
</p>

<p>
    <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> s’engage à prendre toutes les précautions
    nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des
    personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du
    Client est portée à la connaissance de <a href="https://tboi-challenge.com">https://tboi-challenge.com</a>, celle-ci
    devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises. Par
    ailleurs <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> ne collecte aucune « données sensibles
    ».
</p>

<p>
    Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> et des sous-traitants (prestataires de
    services), exclusivement afin de réaliser les finalités de la présente politique.</p>
<p>
    Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales
    personnes susceptibles d’avoir accès aux données des Utilisateurs de <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> sont principalement les agents de notre service
    client.</p>

<div ng-bind-html="rgpdHTML"></div>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}