{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block metaDescription %}Privacy Policy of TBOI-Challenge.com, feel free to contact us if you have any request !{%
endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/terms.css')}}">
{% endblock stylesheets %}

{% block body %}

<h1>Privacy Policy</h1>

<p>The Client is informed of the regulations regarding marketing communication, the law of June 21, 2014, for trust in the Digital Economy, the Data Protection Act of August 06, 2004, as well as the General Data Protection Regulation (GDPR: No. 2016-679).</p>

<h3>7.1 Personal Data Collection Controllers</h3>

<p>For Personal Data collected in the context of the creation of the User's personal account and their navigation on the Site, the controller of Personal Data processing is: CHARLY INC.. <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> is represented by DUCOURNAU-GUICHARD Charly, its legal representative.</p>

<p>As the controller of the data it collects, <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> undertakes to comply with the framework of the legal provisions in force. It is notably the responsibility of the Client to establish the purposes of their data processing, to provide their prospects and clients, from the collection of their consents, with complete information on the processing of their personal data, and to maintain a register of processing operations in accordance with reality.
    Whenever <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> processes Personal Data, <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> takes all reasonable measures to ensure the accuracy and relevance of the Personal Data with regard to the purposes for which <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> processes them.</p>

<h3>7.2 Purpose of the Collected Data</h3>

<p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> may process all or part of the data for:</p>

<ul>

    <li>allowing navigation on the Site and managing and tracking the services ordered by the user: connection and usage data of the Site, billing, order history, etc.</li>

    <li>preventing and combating computer fraud (spamming, hacking...): computer hardware used for navigation, IP address, hashed password</li>

    <li>improving navigation on the Site: connection and usage data</li>

    <li>conducting optional satisfaction surveys on <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a>: email address</li>
    <li>conducting communication campaigns (sms, email): phone number, email address</li>

</ul>

<p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> does not market your personal data, which is only used out of necessity or for statistical and analytical purposes.</p>

<h3>7.3 Right of Access, Rectification, and Opposition</h3>

<p>
    In accordance with current European regulations, Users of <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> have the following rights:</p>

<ul>

    <li>Right of access (Article 15 GDPR) and rectification (Article 16 GDPR), updating, completeness of User data - right to lock or erase personal data of Users (Article 17 GDPR) when it is inaccurate, incomplete, ambiguous, outdated, or when the collection, use, communication, or storage is prohibited</li>

    <li>Right to withdraw consent at any time (Article 13-2c GDPR)</li>

    <li>Right to limit the processing of User data (Article 18 GDPR)</li>

    <li>Right to object to the processing of User data (Article 21 GDPR)</li>

    <li>Right to portability of the data provided by Users, when this data is the subject of automated processing based on their consent or a contract (Article 20 GDPR)</li>

    <li>Right to determine the fate of User data after their death and to choose to whom <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> should (or should not) communicate their data to a third party they have previously designated</li>
</ul>

<p>As soon as <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> becomes aware of the death of a User and in the absence of instructions from them, <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> undertakes to destroy their data unless its preservation is necessary for probative purposes or to comply with a legal obligation.</p>

<p>If the User wants to know how <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> uses their Personal Data, request rectification, or oppose their processing, the User can contact <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> in writing at the following address:</p>

CHARLY INC. – DPO, DUCOURNAU-GUICHARD Charly <br>
220 ROUTE DE MITTELHAUSBERGEN 67200 STRASBOURG.

<p>In this case, the User must specify the Personal Data they would like <a
    href="https://tboi-challenge.com">https://tboi-challenge.com</a> to correct, update, or delete, by identifying themselves precisely with a copy of an identity document (ID card or passport).</p>

<p>Requests for the deletion of Personal Data will be subject to the obligations imposed on <a
    href="https://tboi-challenge.com">https://tboi-challenge.com</a> by law, particularly regarding the retention or archiving of documents. Finally, Users of <a
    href="https://tboi-challenge.com">https://tboi-challenge.com</a> may file a complaint with the supervisory authorities, especially the CNIL (https://www.cnil.fr/fr/plaintes).</p>

<h3>7.4 Non-disclosure of personal data</h3>

<p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> refrains from processing, hosting, or transferring the information collected about its Clients to a country outside the European Union or recognized as "not adequate" by the European Commission without informing the client beforehand. However, <a
    href="https://tboi-challenge.com">https://tboi-challenge.com</a> remains free to choose its technical and commercial subcontractors provided that they provide sufficient guarantees in accordance with the requirements of the General Data Protection Regulation (GDPR: No. 2016-679).</p>

<p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> undertakes to take all necessary precautions to preserve the security of the information and, in particular, to prevent it from being communicated to unauthorized persons. However, if an incident affecting the integrity or confidentiality of the Client's Information is brought to the attention of <a href="https://tboi-challenge.com">https://tboi-challenge.com</a>, it must inform the Client as soon as possible and communicate the corrective measures taken. Furthermore, <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> does not collect any "sensitive data".</p>

<p>The Personal Data of the User may be processed by subsidiaries of <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> and subcontractors (service providers), exclusively to achieve the purposes of this policy.</p>

<p>Within the limits of their respective assignments and for the purposes mentioned above, the main persons likely to have access to the data of Users of <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> are mainly the agents of our customer service.</p>

<div ng-bind-html="rgpdHTML"></div>


{% endblock %}

{% block javascripts %}
{% endblock javascripts %}