{% extends 'base.html.twig' %}

{% block title %}Terms of service{% endblock %}

{% block metaDescription %}Terms of service of TBOI-Challenge.com, feel free to contact us if you have any request !{%
endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/terms.css')}}">
{% endblock stylesheets %}

{% block body %}

<h1>Terms of Service</h1>

<h2>Definitions</h2>
<p><b>Client:</b> Any professional or natural person capable within the meaning of articles 1123 and following of the Civil Code,
    or legal person, who visits the Site subject to these general conditions.<br>
    <b>Services:</b> <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> provides
    Clients with:
</p>

<p><b>Content:</b> Set of elements constituting the information present on the Site, including texts, images,
    videos.</p>

<p><b>Customer Information:</b> Hereinafter referred to as "Information(s)" which correspond to all personal data
    that may be held by <a href="https://tboi-challenge.com">https://tboi-challenge.com</a>
    for the management of your account, customer relationship management, and for analysis and statistics purposes.
</p>

<p><b>User:</b> Internet user connecting to, using the aforementioned site.</p>
<p><b>Personal Information:</b> "Information that allows, in any form whatsoever, directly or indirectly, the identification of the individuals to whom it applies" (article 4 of law n° 78-17 of January 6, 1978).</p>
<p>The terms "personal data," "data subject," "processor," and "sensitive data" have
    the meaning defined by the General Data Protection Regulation (GDPR: n° 2016-679)</p>

<h2>1. Presentation of the Website.</h2>
<p>Under article 6 of law n° 2004-575 of June 21, 2004, on confidence in the digital economy, users of the website <a href="https://tboi-challenge.com">https://tboi-challenge.com</a>
    are informed of the identity of the various stakeholders involved in its creation and monitoring:
</p>
<p><strong>Owner</strong>: SAS CHARLY INC. Share capital of €1 VAT number: FR 32 123456789 123456789 – 220
    ROUTE DE MITTELHAUSBERGEN 67200 STRASBOURG<br>

    <strong>Publishing Manager</strong>: DUCOURNAU-GUICHARD Charly – charly.ducournau@outlook.fr<br>
    The publishing manager can be a natural person or a legal entity.<br>
    <strong>Webmaster</strong>: DUCOURNAU-GUICHARD Charly – charly.ducournau@outlook.fr<br>
    <strong>Hosting Provider</strong>: OVH – 2 rue Kellermann 59100 Roubaix 1007<br>
    <strong>Data Protection Officer</strong>: DUCOURNAU-GUICHARD Charly – charly.ducournau@outlook.fr<br>
</p>

<div ng-bind-html="linkHTML">
    <p>The legal notices are derived from the template provided by the <a
            href="https://fr.orson.io/1371/generateur-mentions-legales"
            title="generator of legal notices GDPR by Orson.io">Orson.io GDPR legal notices generator</a></p>
</div>



<h2>2. Terms and Conditions of Use of the Site and the Offered Services.</h2>

<p>The Site constitutes a work of the mind protected by the provisions of the Intellectual Property Code and applicable International Regulations.
    The Client may not in any way reuse, transfer, or exploit for its own account all or part of the elements or works on the Site.</p>

<p>The use of the site <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> implies full and complete acceptance
    of the general terms of use described below. These terms of use may be changed or supplemented at any time, so users of the site <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> are invited to consult them regularly.</p>

<p>This website is normally accessible to users at all times. An interruption for technical maintenance reasons may, however, be decided by <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a>, which will make an effort to communicate
    the dates and times of the intervention in advance to users.
    The website <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> is regularly updated by <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> responsible. Similarly, legal notices may be changed at any time: they nevertheless apply to the user, who is invited to refer to them as often as possible to be aware of them.
</p>

<h2>3. Description of the Provided Services.</h2>

<p>The website <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> aims to provide information about the company's activities.
    <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> strives to provide information on the website <a
        href="https://tboi-challenge.com">https://tboi-challenge.com</a> as accurate as possible.
    However, it cannot be held responsible for omissions, inaccuracies, and deficiencies in the update, whether they are its own or those of third-party partners who provide this information.
</p>

<p>All information on the website <a href="https://tboi-challenge.com">https://tboi-challenge.com</a>
    is given for informational purposes and may change. Furthermore, the information on the website <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> is not exhaustive. It is given
    subject to changes that may have been made since it was put online.</p>

<h2>4. Contractual Limitations on Technical Data.</h2>

<p>The site uses JavaScript technology.

    The website cannot be held responsible for material damages related to the use of the site. In addition,
    the user of the site agrees to access the site using recent hardware, free of viruses, and with an updated,
    state-of-the-art browser.
    The website <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> is hosted by a provider within the
    European Union in accordance with the provisions of the General Data Protection Regulation (GDPR: n° 2016-679).</p>

<p>The objective is to provide a service that ensures the best accessibility rate. The host ensures the
    continuity of its service 24 hours a day, every day of the year. However, it reserves the right
    to interrupt the hosting service for the shortest possible durations, notably for maintenance, improvement of its infrastructure, infrastructure failure, or if the Services generate traffic deemed abnormal.</p>

<p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> and the host cannot be held
    responsible for malfunctions in the Internet network, telephone lines, or computer and
    telephony equipment, especially due to network congestion preventing access to the server.</p>

    <h2>5. Intellectual Property and Counterfeiting.</h2>

    <p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> is the owner of intellectual property rights
        and holds the usage rights on all elements accessible on the website, including texts, images, graphics, logos, videos, icons, and sounds.
        Any reproduction, representation, modification, publication, adaptation of all or part of the elements of the site,
        by any means or process, is prohibited, unless prior written authorization from: <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a>.</p>
    
    <p>Any unauthorized use of the site or any of its elements will be considered as
        constituting infringement and prosecuted in accordance with the provisions of articles L.335-2 and following of the Intellectual Property Code.</p>
    
    <h2>6. Limitations of Liability.</h2>
    
    <p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> acts as the editor of the site. <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> is responsible for the quality and accuracy
        of the Content it publishes. </p>
    
    <p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> cannot be held responsible for direct and
        indirect damages caused to the user's equipment when accessing the website <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a>, resulting either from the use of equipment
        that does not meet the specifications indicated in point 4 or from the appearance of a bug or incompatibility.</p>
    
    <p><a href="https://tboi-challenge.com">https://tboi-challenge.com</a> also cannot be held responsible for
        indirect damages (such as, for example, a loss of market or loss of opportunity) resulting from the use of the
        site <a href="https://tboi-challenge.com">https://tboi-challenge.com</a>.
        Interactive spaces (possibility to ask questions in the contact area) are available to users. <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> reserves the right to delete,
        without prior notice, any content deposited in this space that would contravene applicable legislation in France, particularly provisions relating to data protection. If necessary, <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> also reserves the right to invoke civil and/or criminal liability of the user, particularly in the case of messages with a racist, injurious, defamatory, or pornographic nature, regardless of the medium used (text, photography...).
    </p>
    <h2>8. Incident Notification</h2>
    <p>
        Despite the efforts made, no method of transmission over the Internet and no method of electronic storage is entirely secure. Consequently, we cannot guarantee absolute security.
        If we become aware of a security breach, we will notify the affected users so that they can take appropriate measures. Our incident notification procedures take into account our legal obligations, whether at the national or European level. We are committed to fully informing our clients of all security issues related to their account and providing them with all the necessary information to help them comply with their own regulatory reporting obligations.</p>
    <p>
        No personal information of the user of the site <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> is published without the user's knowledge, exchanged, transferred, assigned, or sold on any medium to third parties. Only the hypothesis of the acquisition of <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> and its rights would allow the transmission of said information to the potential acquirer, who would in turn be bound by the same obligation of conservation and modification of data towards the user of the site <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a>.</p>
    
    <h3>Security</h3>
    
    <p>
        To ensure the security and confidentiality of Personal Data and Health Personal Data, <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> uses networks protected by standard devices such as firewalls, pseudonymization, encryption, and passwords. </p>
    
    <p>
        When processing Personal Data, <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> takes all reasonable measures to protect them against any loss, misuse, unauthorized access, disclosure, alteration, or destruction.
    </p>
    
    <h2>9. Hyperlinks, Cookies, and Internet Tags</h2>
    <p>
        The site <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> contains several hyperlinks to other sites, established with the authorization of <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a>. However, <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> cannot verify the content
        of these visited sites and will, therefore, assume no responsibility in this regard.</p>
    <p></p>

    <h3>Article 9.2. Internet Tags</h3>

    <p>
        <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> may occasionally use Internet tags (also called "tags" or action tags, 1-pixel GIFs, transparent GIFs, invisible GIFs, and 1x1 GIFs) and deploy them through a specialized web analytics partner who may be located (and therefore store the corresponding information, including the user's IP address) in a foreign country.
    </p>
    
    <p>
        These tags are placed both in online advertisements allowing users to access the Site and on various pages of the Site.
    </p>
    <p>
        This technology allows <a href="https://tboi-challenge.com">https://tboi-challenge.com</a> to evaluate visitor responses to the Site and the effectiveness of its actions (for example, the number of times a page is opened and the information viewed), as well as the user's use of this Site.</p>
    <p>
        The external provider may possibly collect information about visitors to the Site and other websites through these tags, compile reports on the Site's activity for <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a>, and provide other services related to its use and the Internet.
    </p>
    <p>
    </p>
    
    <h2>10. Applicable Law and Jurisdiction Attribution.</h2>
    <p>
        Any dispute related to the use of the site <a
            href="https://tboi-challenge.com">https://tboi-challenge.com</a> is subject to French law.
        Except where the law does not allow it, exclusive jurisdiction is granted to the competent courts of STRASBOURG.
    </p>
    

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}