{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}

    {% for challenge in challenges %}
        <a href="{{ path('show_challenge', {'id': challenge.id}) }}">{{challenge.id}}</a>
    {% endfor %}

{% endblock %}
